<% if (!user) { %>
  <h2>Welcome! Please log in.</h2>
  <a href="<%= signin %>">Sign In</a>
  <a href="<%= signup %>">Sign Up</a>
  <a href="<%= updateprofile %>">Update Profile</a>
  <a href="<%= resetpassword %>">Reset Password</a>
<% } else { %>
  <h2>Hello, <%= user.emails[0] %>.</h2>
  <a href="/account">Account Info</a></br>
  <a href="/logout">Log Out</a>
<% } %>
